/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/*BODY*/

/*link naar font bron: https://fonts.google.com/specimen/Montserrat?query=mon&selection.family=Montserrat */
body {
    font-family: Montserrat;

    /* alles vormt één kolom */

}

body section,
body article {
    margin: 2em;
    /* witruimte */

}

/* fontsize en font-weight h1 t/m h3*/
body h1 {
    font-size: 1.75em;
    font-weight: bold;
}

body h2 {
    font-size: 1.5em;
    font-weight: bold;
}

body h3 {
    font-size: 1em;
    font-weight: normal;
}

/*HEADER*/
/* NAVIGATIE */
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*elementen komen onder elkaar als het niet meer past*/

}

header nav li {
    flex-grow: 1;
    min-width: 6em;
}

header nav li + li {
    /*selecteert elke li element dat direct is na een adnere li, zonder dat er een element tussen zit*/
    border: solid 1px;
    border-color: transparent;
}

header nav a {
    text-decoration: none;
    display: block;
    /*a vullen de hele li */
    line-height: 3.5em;
    text-align: center;
    font-weight: bold;
    color: darkslategrey;
}


/*MAIN*/

/*PRODUCTEN */
#productenoverzicht h2,
p:first-of-type {
    text-align: center;
    /*tekst uitlijning producten */
}

#productenoverzicht img {
    max-width: 100%;
    /*all img worden niet groter dan het scherm zelf*/
}

#productenoverzicht article {
    border: solid;
    border-color: lightgrey;
    border-width: thin;
    position: relative;
}

#productenoverzicht p:first-of-type {
    font-size: 1em;
    font-weight: lighter;
    color: darkturquoise;
}

#productenoverzicht p:nth-of-type(2n),
p:nth-of-type(3n) {
    background-color: deeppink;
    color: white;
    padding: 0.5em;
    position: absolute;
}

/* Kortings badge Custtomshapes */
#productenoverzicht article:first-of-type p:nth-of-type(2n) {
    transform: skewY(-10deg);
    border-radius: 2em 2em 2em 2em;
    top: -1em;
    right: -2em;
}

/*kortingsbadge Ingelijste foto's */
#productenoverzicht article:nth-of-type(4n) p:nth-of-type(2) {
    transform: skewY(-10deg);
    border-radius: 2em 2em 2em 2em;
    top: -1em;
    right: -2em;
}

/* Prijslabels alle producten */
#productoverzicht article:first-of-type,
p:last-of-type {
    color: white;
    bottom: 5em;
    right: -1em;
}

/*HOE KAN HET DAT DIT KLOPT?! ALLES STAAT GOED /*

/*flexbox producten*/
/*HAAL DIT WEG, KLOPT MOBIELVERSIE WEL*/
main #productenoverzicht {
    display: flex;
    justify-content: space-between;
}

#productenoverzicht article {
    flex-wrap: wrap;
    flex-grow: 1;
}

/*KLANTENREACTIES */
#klantenreacties h2,
p {
    text-align: center;
}

#klantenreacties img {
    position: relative;
    right: 1em;
    width: 6em;
}

#klantenreacties a {
    font-weight: bold;
    color: darkturquoise;
    text-decoration: none;
    position: relative;
    left: 5em;

}

/*NIEUWSBRIEF  */
#nieuwsbrief {
    text-align: center;

}

#formulier,
input {
    font-size: 1em;
    font-weight: normal;
    color: darkgray;
}

/*stijling nieuwsbrief knop */
#inschrijven {
    color: white;
    background-color: deeppink;
    border-color: deeppink;

}

/*HOVERSTIJL nieuwsbrief knop */
#formulier input:hover {
    background-color: darkturquoise;
    border-color: darkturquoise;
}

/*STELJEVRAAG*/
#steljevraag h2 {
    font-size: 1em;

}

/*bron code: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details */
details {
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}



/*FOOTER*/
footer {
    text-align: center;
    font-size: 0.5em;
}

/*INDEX PAGE 2 */

/*INTRO*/
main #intro {
    margin: 0;
    background-image: url("../images/homebackground.jpg");
    height: 37.5em;
}
