/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/*BODY*/

/*link naar font bron: https://fonts.google.com/specimen/Montserrat?query=mon&selection.family=Montserrat */
body {
    font-family: Montserrat;
    margin: 3em;
    /* alles vormt één kolom */
}

body h1 {
    font-size: 1.75em;
    font-weight: bold;
}

body h2 {
    font-size: 1.5em;
    font-weight: bold;
}

body h3 {
    font-size: 1em;
    font-weight: normal;
}

/* NAVIGATIE */


/*MAIN*/

/*PRODUCTEN */
#producten h2,
p:first-of-type {
    text-align: center;
}

#producten p {
    font-size: 1em;
    font-weight: lighter;
    color: darkturquoise;
}

#producten img {
    position: relative;
    max-width: 100%; /*all img worden niet groter dan het scherm zelf*/
}

#producten p:nth-of-type(2n),
p:nth-of-type(3n) {
    background-color: deeppink;
    color: white;
    padding: 0.5em;
    position: absolute;
}

#producten p:nth-of-type(2n) {
    transform: skewY(-10deg);
    border-radius: 2em 2em 2em 2em;
    top: 2em;
    right: 1em;
}

#producten p:nth-of-type(3n) {
    color: white;
    top: 17em;
    right: 3em;
}


/*KLANTENREACTIES */
#klantenreacties h2,
p {
    text-align: center;
}

#klantenreacties img {
    position: relative;
    right: 1em;
    width: 6em;
}

#klantenreacties a {
    font-weight: bold;
    color: darkturquoise;
    text-decoration: none;
    position: relative;
    left: 5em;

}

/*NIEUWSBRIEF  */
#nieuwsbrief {
    text-align: center;

}

#formulier,
input {
    font-size: 1em;
    font-weight: normal;
    color: darkgray;
}

#inschrijven {
    color: white;
    background-color: deeppink;
    border-color: deeppink;

}

/*STELJEVRAAG*/
#steljevraag h2 {
    font-size: 1em;

}

/*bron code: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details */
details {
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}



/*FOOTER*/
footer {
    text-align: center;
    font-size: 0.5em;
}



/*INDEX PAGE 2 */

/*INTRO*/
body #intro {
    background-image: url("../images/homebackground.jpg");
    background-position: top 0;
}
