/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/*BODY*/

/*link naar font bron: https://fonts.google.com/specimen/Montserrat?query=mon&selection.family=Montserrat */
body {
    font-family: Montserrat;

}

body section,
body article {
    margin: 2em;
    /* witruimte tussen sections en articles */

}

/* fontsize en font-weight h1 t/m h3*/
body h1 {
    font-size: 1.75em;
    font-weight: bold;
}

body h2 {
    font-size: 1.5em;
    font-weight: bold;
}

body section:nth-of-type(3) p {
    font-weight: normal;
    font-size: 1em;
}

/*HEADER*/

/* NAVIGATIE */
header button {
    font-weight: bold;
    font-size: 1em;
    color: white;
    background-color: darkturquoise;
    border-color: darkturquoise;
    cursor: pointer;
}

header button:hover {
    background-color: turquoise;
    border-color: turquoise;
}

/*NIEUWE CLASS AANGEMAAKT DOOR JS */
.showMenu {
    opacity: 1;
    /*menu wordt zichtbaar na 'click' */
}

nav {
    opacity: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header nav li {
    flex-grow: 1;
    min-width: 6em;
    border: solid 1px;
    border-color: transparent;
}

header nav a {
    text-decoration: none;
    display: block;
    /*a vullen de hele li */
    line-height: 3.5em;
    text-align: center;
    font-weight: bold;
    color: darkslategrey;
}

header nav a:hover {
    color: turquoise;
    cursor: pointer;
}

@media (min-width:48em) {

    /*wanneer de browser minstens een breedte heeft van 48em, button verdwijnt maar nav wel zichtbaar*/
    header button {
        opacity: 0;
    }

    header nav {
        opacity: 1;
    }
}

/*MAIN*/
main section img {
    width: 27em;
}

main ul li {
    list-style: none;
}

/*PRODUCTEN */
/*flexbox producten*/
main #productenoverzicht {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#productenoverzicht article {
    flex-grow: 1;
    border: solid 1em;
    border-color: lightgrey;
    border-width: thin;
    position: relative;
}
}

#productenoverzicht h2,
p:first-of-type {
    text-align: center;
    /*tekst uitlijning producten */
}

#productenoverzicht img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    /*all img worden niet groter dan het scherm zelf*/
}

#productenoverzicht p:first-of-type {
    font-size: 1em;
    font-weight: lighter;
    color: darkturquoise;
}

/* Kortings badge Custtomshapes */
#productenoverzicht article:first-of-type p:nth-of-type(2) {
    transform: skewY(-10deg);
    border-radius: 2em 2em 2em 2em;
    top: -1em;
    right: -2em;
}

/*Kortingsbadge Ingelijste foto's */
#productenoverzicht article:nth-of-type(4) p:nth-of-type(2) {
    transform: skewY(-10deg);
    border-radius: 2em 2em 2em 2em;
    top: -1em;
    right: -2em;
}

/* Prijslabels alle producten */
#productoverzicht article:first-of-type p:last-of-type {
    color: white;
}

#productoverzicht article:first-of-type,
p:last-of-type {
    bottom: 5em;
    right: -1em;
}

#productenoverzicht p:nth-of-type(2) {
    background-color: deeppink;
    color: white;
    padding: 0.5em;
    position: absolute;
}

#productenoverzicht p:nth-of-type(3) {
    /*Moet apart, want anders pakt die de 'p' van indexpage 2 ook mee */
    background-color: deeppink;
    color: white;
    padding: 0.5em;
    position: absolute;
}

/*Animatie Kortingsbadge*/
/*bron: https://codepen.io/shooft/pen/xxVmpEP */
@keyframes kortingsbadge {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

#productenoverzicht p:nth-of-type(3):hover {
    animation-name: kortingsbadge;
    animation-duration: 1s;
    animation-iteration-count: 2;
}

#productenoverzicht p:nth-of-type(2):hover {
    animation-name: kortingsbadge;
    animation-duration: 1s;
    animation-iteration-count: 2;
}


/*KLANTENREACTIES */
#klantenreacties p,
h2 {
    text-align: center;
    color: black;
    margin: 1em;
}

#klantenreacties img {
    position: relative;
    right: 1em;
    width: 6em;
}

#klantenreacties a {
    font-weight: bold;
    color: darkturquoise;
    text-decoration: none;
    position: relative;
    left: 5em;
}

#klantenreacties a:hover {
    color: turquoise;
    cursor: pointer;
}

@media (min-width: 36em) {
    #klantenreacties p {
        padding: 0 1em;
    }
}

/*NIEUWSBRIEF  */
#nieuwsbrief {
    text-align: center;
}

#nieuwsbrief p {
    font-weight: normal;
    font-size: 1em;
}

#formulier,
input {
    font-size: 1em;
    font-weight: normal;
    color: darkgray;
}

/*stijling nieuwsbrief knop */
form button {
    color: white;
    background-color: deeppink;
    border-color: deeppink;
    font-size: 1em;
}

form button:hover {
    background-color: #FF60B6;
    border-color: #FF60B6;
    cursor: pointer;
}

/*Animatie aanmelding nieuwsbrief */
/*bron: https://codepen.io/shooft/pen/xxVmpEP */
@keyframes nieuwsbrief {
    0% {
        transform: none;
    }

    10% {
        transform: scale(1.2, .8);
    }

    20% {
        transform: scale(.6, 1.5) translateY(-.25em);
        color: deeppink;
    }

    30% {
        transform: scale(1.3, .7);
    }

    40% {
        transform: scale(.9, 1.1);
    }

    50% {
        transform: none;
    }

    100% {
        transform: none;
    }
}

/* Class wordt toegevoegd door JS */

#nieuwsbriefanimatie {
    /*positioneren tekst */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: black;
}

#nieuwsbriefanimatie div {
    width: auto;
    transform-origin: center bottom;
    animation-name: nieuwsbrief;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

/* De animatie begint eerst bij de 1e letter, dan 2e etc.*/
#nieuwsbriefanimatie div:nth-of-type(1) {
    animation-delay: 0s;
}

#nieuwsbriefanimatie div:nth-of-type(2) {
    animation-delay: .15s;
}

#nieuwsbriefanimatie div:nth-of-type(3) {
    animation-delay: .3s;
}

#nieuwsbriefanimatie:hover div {
    animation-play-state: running;
}

/*STELJEVRAAG*/
#steljevraag h2 {
    font-size: 1em;

}

/*bron code: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details */
details {
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

#steljevraag a img {
    max-width: 2em;
}

#steljevraag details a {
    background-color: transparent;
    border-color: transparent;
}

/*FOOTER*/
footer {
    text-align: center;
    font-size: 0.5em;
}

/*INDEX PAGE 2 */

/*INTRO*/
main #intro {
    margin: 0;
    background: url("../images/homebackground.jpg") no-repeat center center fixed;
    /*img geen alt-tekst, omdat dat niet essentieel is of toegevoegde waarde heeft*/
    height: 37.5em;
    background-size: cover;
    line-height: 2em;

}

/*afbeelding in li aanpassing*/
section ul li img {
    max-width: 1em;
}

#intro a:first-of-type,
a:nth-of-type(2) {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: deeppink;
    border: solid;
    border-color: deeppink;
    border-width: medium;
    padding: 0.5em;
    position: relative;
    top: 0;
    left: 1em;
}

#intro a:nth-of-type(2) {
    color: darkslategrey;
    background-color: transparent;
    border-color: darkslategrey;
    top: 0;
    left: 3em;
}

#intro a:first-of-type:hover {
    background-color: #FF60B6;
    border-color: #FF60B6;
    cursor: pointer;
}

#intro a:nth-of-type(2):hover {
    color: white;
    background-color: darkslategrey;
    cursor: pointer;
}

#Watzijn h2 {
    text-align: left;
}

#Watzijn p {
    text-align: left;
}

#Watzijn a {
    font-weight: bold;
    color: darkturquoise;
    text-decoration: none;
}

#Watzijn a:hover {
    color: turquoise;
    cursor: pointer;
}

/*afbeelding Custtomshapes met afmetingen voor groter scherm */
@media (min-width: 50em) {
    main section:nth-of-type(4) img {
        width: 50em;
    }
}

#waarom? h3 {
    font-weight: bold;
    font-size: 1.5em;
}
